.list-view-title {
	padding-left: 8px;
	padding-top: 10px;
}

.list-view-applies {
	padding-top: 8px;
	position: relative;
	left: 17px;
}


.list-view-applies-text {
	font-weight: 500;
	padding-top: 4px;
}

.list-view-applies-desc {
	position: relative;
	text-align:justify;
	text-justify:inter-word;
	
}

.list-view-applies-desc h4 {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

#list-view-logo {
	margin-top: 15px;
	position: relative;
}

#time {
	width: 80px;
	height: 40px;
	background-image: url('../img/time-left.png');
	background-repeat: no-repeat;
	padding-top: 7px;
	padding-left: 35px;
	margin-top: 03px; 
	position: relative;
	left: -4px;
}
