/* Color pagina */
body 
{ 
	background: #ff6547 !important;
}

/* Fondo Contenido */
div.content
{
	background: url('../img/bg-pattern.png');
	background-repeat:repeat;
	position:relative;
	top: -20px;
}

/*Estilo del boton superior*/
#login-button {
	width: 141px;
	height: 22px;
	background-image: url('../img/signin-google.png');
	background-repeat: no-repeat;
}

/* tamaño de textareas en new*/
textarea.user_description
{
	min-width: 545px;
	min-height: 150px;
}

/* posicion paginacion pagina principal*/
ul#pagination_bt
{
	position:relative;
	left: 33px;
}

/* tamaño descripcion video en perfil*/
textarea.video_description
{
	min-width: 600px;
	min-height: 150px;
}

/* espacios estandar utilizados para separar contenido en la pagina*/
div.space1
{
	min-height: 20px;
}

div.space2
{
	min-height: 30px;
}

div.space4
{
	min-height: 60px;
}



/*  Header con logo pagina */
#lowerhalf div 
{
	background: url('../img/bg-pattern.png');
	min-height: 200px;
	background-repeat:repeat;
}
		
#lowerhalf img
{
	position: relative;
	left: 25%;
	top: 50px;

}
		
#lowerhalf form.form-search
{	
	margin-right: 10%;
	text-align: right;
}

/* Formato color titulos perfil	*/
h1.profile-title{
	font-family: "profile_font";
	color: #3E3D40;
	font-size: 40px;
}

h2.profile 
{
	font-family: "profile_font";
	color: #FF6547;
}
		
/* posicion imagen usuario */
img.user_image
{
	position:relative;
	top: 32px;
	left: 10%;
	max-height: 230px;
	max-width: 230px;
}
		
/* posicion banner */
img.banner_image
{
	position:relative;
	left: 10%;
	height: 230px;
	width: 230px;
			
}
		
/* Posicion boton participar */
button#participate_button
{
	position:relative;
	top: 60px;
	left: 10%;
}

/*posicion dummy imagen en formulario new*/
div#image_upload
{
	position:relative;
	top: 20px;
	left:2%;
}

/* Color plateado perfil */
#content div.row-fluid
{	
	position: relative;
	background: #F4F4F4;
	max-width: 98%;
	left: 10px;
}
		
/* Formato tags talentos */
li.taglist {
	display: inline;
	/*margin-left: 10px;*/
	border-color: #BDBDBD;
	background-color: #FFFFFF;
}
		
/* Formato parrafos justificados */
div.justify
{ 
	text-align : justify;
	width: 600px;
	max-height: 120px;
}

/* formato vistas y likes youtube, bajo cada video*/	
span#youtubedata
{
	margin-left:2px;
	font-size:80%;
	float:right;
}

label.youtubedata
{
	display:inline;
}

div.social_data_container
{
	max-width: 600px;
}

/* formato videos pagina principal*/
div#main_videos
{
	width: 385px !important;
	margin-left:32px;
}

		
/* Formato links en la parte superior del header */
#headercontent li {display:inline; margin-left:12px;}	
#headercontent a:link {text-decoration:  none;color:#ffffff;}    /* unvisited link */
#headercontent a:visited {text-decoration:  none;color:#ffffff;} /* visited link */
#headercontent a:hover {text-decoration:  none;color:#ffffff;}   /* mouse over link */
#headercontent a:active {text-decoration:  none;color:#ffffff;} 

/* Estilo para el texto del usuario logeado en el sistema */
.welcome-login {
	color: #FFFFFF;
	font-weight: bold;
}

 
/* Fuente para el perfil */
@font-face {  
	font-family: "profile_font";
	src: url(../font/Rokkitt-Bold.ttf); /* IE */
	src: local("real_profile_font"), url(../font/Rokkitt-Bold.ttf) format("truetype"); /* non-IE */
}    