/* Color pagina */
body 
{ 
	background: #ff6547 !important;
}

/* Fondo Contenido */
div.content
{
	background: url('../img/bg-pattern.png');
	background-repeat:repeat;
	position:relative;
	top: -20px;
}

/*Estilo del boton superior*/
#login-button {
	width: 141px;
	height: 22px;
	background-image: url('../img/signin-google.png');
	background-repeat: no-repeat;
}

/* Boton de busqueda */
.search-btn
{
	margin-left: 5px;
}

/* tamaño de textareas en new*/
textarea.user_description
{
	min-width: 545px;
	min-height: 150px;
}

/* posicion paginacion pagina principal*/
ul#pagination_bt
{
	position:relative;
	left: 33px;
}

/* tamaño descripcion video en perfil*/
textarea.video_description
{
	min-width: 600px;
	min-height: 150px;
}

/* espacios estandar utilizados para separar contenido en la pagina*/

div.space05
{
	min-height: 10px;
}

div.space1
{
	min-height: 20px;
}

div.space2
{
	min-height: 30px;
}

div.space4
{
	min-height: 60px;
}

#upperhalf
{
	height: 25px;
}

#upperhalf div div ul
{
	padding-top: 2px;
}


/*  Header con logo pagina */
#lowerhalf div 
{
	background: url('../img/bg-pattern.png');
	min-height: 200px;
	background-repeat:repeat;
}
		
#lowerhalf img
{
	position: relative;
	left: 32%;
	top: 50px;
}
		
#lowerhalf form.form-search
{	
	margin-right: 10%;
	text-align: right;
}

/* Formato color titulos perfil	*/
h1.profile-title{
	font-family: "profile_font";
	color: #3E3D40;
	font-size: 40px;
	margin-bottom: 2px;
}

h2.profile 
{
	font-family: "profile_font";
	color: #FF6547;
}
		
/* posicion imagen usuario */
img.user_image
{
	position: relative;
	top: 32px;
	left: 10%;

	max-height: 230px;
	max-width: 230px;
}
		
/* posicion banner */
img.banner_image
{
	position:relative;
	left: 10%;
	height: 230px;
	width: 230px;
			
}
		
/* Posicion boton participar */
button#participate_button
{
	position:relative;
	top: 60px;
	left: 10%;
}

/*posicion dummy imagen en formulario new*/
div#image_upload
{
	position:relative;
	top: 20px;
	left:2%;
}

/* Color plateado perfil */
#content div.row-fluid
{	
	position: relative;
	background: #F4F4F4;
	max-width: 98%;
	left: 10px;
}
		
/* Formato tags talentos */
li.taglist {
	display: inline;
	/*margin-left: 10px;*/
	border-color: #BDBDBD;
	background-color: #FFFFFF;
}
		
/* Formato parrafos justificados */
div.justify
{ 
	text-align : justify;
	width: 600px;
	max-height: 120px;
}

/* formato vistas y likes youtube, bajo cada video*/	
span#youtubedata
{
	margin-left:2px;
	font-size:80%;
	float:right;
}

label.youtubedata
{
	display:inline;
}

div.social_data_container
{
	max-width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* formato videos pagina principal*/

div#main_videos
{
	width: 350px !important;
	margin-left: 38px;
}

div.video_text_main
{
	position:relative;
	left: -10px;
	top: -25px;
	background: white !important;
	height: 150px;
}

div.row_text_main
{
	height: 75px;
}
span.arrow {
	position: relative;
	width: 0;
	height: 0;
	top: -30px;
	left: 40px;
	bottom: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	z-index: 12;
}

div.black_line{
	
	border-bottom: 2px solid black;
}

img.user_image_main_page
{
	position: relative;
	left: 20px;
	max-height: 60px;
	max-width: 60px;
}

ul.skills-list
{
	margin-top: 10px;
	margin-left: 0;
}

ul.skills-list li
{
	background-color: #FFFFFF;
	margin-right: 10px;
	display: inline;
	padding: 5px 10px 5px 10px;
	border: 2px solid #D6D6D6;
	border-radius: 02px;
}

ul.skills-list li a
{
	text-decoration: none;
	color: #6C6C6C;
}

/*Estilo titulo video del perfil*/
div.video-title
{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

div.fb-like
{
	margin-bottom: 10px;
}

div.button-home-page
{
	margin-left: 20px; 
}


/* Formato links en la parte superior del header */
#headercontent li 
{
	display: inline; 
	margin-left: 15px;
}

#headercontent a:link 
{
	text-decoration: underline;
	color: #ffffff;
}

#headercontent a:visited 
{
	text-decoration: underline;
	color: #ffffff;
}

#headercontent a:active 
{
	text-decoration: underline;
	color: #ffffff;
}

.header-text-left ul li a
{
	text-decoration: none !important;
}

/* Estilo para el texto del usuario logeado en el sistema */
.welcome-login {
	color: #FFFFFF;
	font-weight: bold;
}





/* Fuente para el perfil */
@font-face {  
	font-family: "profile_font";
	src: url(../font/Rokkitt-Bold.ttf); /* IE */
	src: local("real_profile_font"), url(../font/Rokkitt-Bold.ttf) format("truetype"); /* non-IE */
}    