/* Color pagina */
body 
{ 
	background: #ff6547 !important;
}

/* Fondo Contenido */
div.content
{
	background: url(../img/bg-pattern.png);
	background-repeat:repeat;
	position:relative;
	top: -20px;
}

div.space1
{
	min-height: 15px;
}

div.space2
{
	min-height: 30px;
}

div.space4
{
	min-height: 60px;
}



/*  Header con logo pagina */
#lowerhalf div 
{
	background: url(../img/bg-pattern.png);
	min-height: 200px;
	background-repeat:repeat;
}
		
#lowerhalf img
{
	position: relative;
	left: 25%;
	top: 50px;

}
		
#lowerhalf form.form-search
{	
	margin-right: 10%;
	text-align: right;
}

/* Formato color titulos perfil	*/
h4.profile 
{
	font-weight: bold;
	color:#fd816a;
}
		
/* posicion imagen usuario */
img.user_image
{
	position:relative;
	top: 35px;
	left: 10%;
	height: 230px;
	width: 230px;		
}
		
/* posicion banner */
img.banner_image
{
	position:relative;
	left: 10%;
	height: 40%;
	width: 80%;
			
}
		
/* Posicion boton participar */
button#participate_button
{
	position:relative;
	top: 60px;
	left: 10%;
}
		
/* Color plateado perfil */
#content div.row-fluid
{	
	background: #dddddd;
}
		
/* Formato tags talentos */
li.taglist {display:inline; margin-left:10px;}
		
/* Formato parrafos justificados */
div.justify
{ 
	text-align : justify;
	max-height: 150px;
}
		
span#youtubedata
{
	margin-left:2px;
	float:right;
}

div#main_videos
{
	margin-left:20px;
}
		
		
		/* Formato links en la parte superior del header */
#headercontent li {display:inline; margin-left:12px;}	
#headercontent a:link {text-decoration:  none;color:#ffffff;}    /* unvisited link */
#headercontent a:visited {text-decoration:  none;color:#ffffff;} /* visited link */
#headercontent a:hover {text-decoration:  none;color:#ffffff;}   /* mouse over link */
#headercontent a:active {text-decoration:  none;color:#ffffff;} 
    