
/*Font custom*/
@font-face {  
	font-family: "another_custom_font";
	src: url(../font/Archer-SembdItal-Pro.eot); /* IE */
	src: local("real_another_custom_font"), url(../font/Archer-SembdItal-Pro.otf) format("opentype"); /* non-IE */
} 

@font-face {  
	font-family: "custom_font";
	src: url(../font/Archer-MediumItal-Pro.eot); /* IE */
	src: local("real_custom_font"), url(../font/Archer-MediumItal-Pro.otf) format("opentype"); /* non-IE */
}  
 
body {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background: url('../img/fake_brick_2X.png');
}

.logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	position: relative;
}

#s3slider{
	margin: auto !important;
	display: block !important;
	position: relative;
	left: -17px;
}

.text {
	color: #ff7e00;
	font-size: 36px;
	font-family: "custom_font";
	text-align: center;

}

.inscribete {
	font-family: "another_custom_font";
	margin-left: 2%;
	font-size: 20px;
	color: #ffffff;
}

p.inscribete{
	text-align: center;
	margin: auto;
	display: block;
}

.email-form {
	position: relative;
}

.label{
	font-family: "another_custom_font";
	margin-left: 23%;
	font-size: 20px;
	color: #ff7e00;
}

.textbox {
	height: 28px;
	font-size: 17px;
}

.submit-button {
	height: 28px;
	font-size: 17px;
}

.form-info {
	margin: auto;
	position: relative;
	top:-10px;
	font-family: "another_custom_font";
	font-size: 18px;
	color: red;
	text-align: center;
}

.success p {
	font-family: "another_custom_font";
	font-size: 20px;
	color: #b13165;
	text-align: center;
}